* {
  box-sizing: border-box;
}

h2{
	
	color: #e2ca90;
	font-size: 20px;
}	

#space-bar{
	font-size: 18px;
	color: #e2ca90;
} 
	
.main-body {
	width: auto;
	clear: both;
}

.main-body::after {
	content: "";
	background-image: url("../../assets/images/westerosmap01.jpg");
	background-repeat: no-repeat;
	opacity: .3;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: fixed;
	z-index: -1;   
	justify-content: center;
	 background-position: 50% 0;
}

body {
	background-color: black;
	color: white;
	font-family: 'MedievalSharp', cursive;
}

.main-container{
	width: 100%;
	max-width: 900px;
	margin: 0 auto;
	clear: both;
}

.container-body{
	width: 100%;
	min-width: 900px;
	margin: 0 auto;
	clear: both;
}

.header{
	position: relative;
	text-align: center;
	width: 900px;
	margin: 20px 0;
	border: 3px solid #d7764d;
	border-radius: 10px;
	background-color: #6c2123;
	opacity: .9;
	padding: 30px;
}

#logo {
	width: 400px;
	height: auto;
}

#space-bar{
	text-align: center;
	height: 40px;
}

.main-section{
	background-color: #6c2123;
	color: #dca76c;
	border: 3px solid #d7764d;
	border-radius: 10px;
	padding: 30px;
	float: left;
	width: 440px;
	text-align: center;
	margin-bottom: 30px;
	height: 440px;
	opacity: .9;
}

.aside{
	width: 100%;
	float: right;
	margin-left: 10px;
	max-width: 440px;	
}


#win-text, #wins, #current-word-text, #letters, #gueses-text
, #guessesLeft, #lettersguessed-test, #incorrectLetters {
	height: 30px;
	line-height: 30px;
	font-size: 20px;

}
	
#wins, #guessesLeft, #incorrectLetters {
	height: 40px;
	line-height: 40px;
	font-size: 20px;
	color: #e2ca90;
}

#letters {
	height: 130px;
	line-height: 130px;
	font-size: 33px;
	color: #e2ca90;
	text-align: bottom;
}

#tully, #arryn, #baratheon, #greyjoy, #lannister, #nightswatch, #stark, 
#targaryen, #tyrell, #whitewalkers, #hangman, #martell, #throne{
	position: absolute;
	float: right;
	border: 3px solid #d7764d;
	border-radius: 10px;
	z-index: 0;
	width: 440px;
	height: auto;
	float: right;
}

#throne{
	position: relative;
	z-index: 99;
	opacity: 1;
}


@media screen and (max-width: 768px) {

	.main-container{
		max-width: 688px;
	}

	.container-body{
		min-width: 688px;
	}

	.header{
		width: 688px;
	}

	.main-section{
		padding: 20px;
		width: 330px;
		height: 330px;
	}

	.aside{
		margin-left: 10px;
		max-width: 330px;	
	}

	#tully, #arryn, #baratheon, #greyjoy, #lannister, #nightswatch, #stark, 
	#targaryen, #tyrell, #whitewalkers, #hangman, #martell, #throne{
		width: 330px;
	}


	#win-text, #wins, #current-word-text, #letters, #gueses-text
	, #guessesLeft, #lettersguessed-test, #incorrectLetters {
		height: 24px;
		line-height: 24px;
		font-size: 18px;
	}
		
	#wins, #guessesLeft, #incorrectLetters {
		height: 30px;
		line-height: 30px;
		font-size: 20px;
	}

	#letters {
		font-size: 26px;
	}

}

@media screen and (max-width: 640px) {

	.main-container{
		max-width: 600px;
	}

	.container-body{
		min-width: 600px;
	}

	.header{

		width: 600px;
		margin: 20px 0 0 0;
		padding: 10px;
	}

	.main-section{
		padding: 20px;
		width: 600px;
		height: auto;
		margin-bottom: 20px;
	}

	.aside{
		margin: 0;
		width: 600px;	
		max-width: 600px;
	}

	#tully, #arryn, #baratheon, #greyjoy, #lannister, #nightswatch, #stark, 
	#targaryen, #tyrell, #whitewalkers, #hangman, #martell, #throne
	{
		position: absolute;
		width: 600px;
	}

	#throne{
		float: center;
		position: relative;
	}

	#win-text, #wins, #current-word-text, #letters, #gueses-text
	, #guessesLeft, #lettersguessed-test, #incorrectLetters {
		height: 18px;
		line-height: 18px;
		font-size: 16px;
	}
		
	#wins, #guessesLeft, #incorrectLetters {
		height: 20px;
		line-height: 20px;
		font-size: 18px;

	}

	#letters {
		height: 50px;
		line-height: 50px;
		font-size: 24px;
	}



}